@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("C:\Users\Xiben's Coole Laptop\Desktop\School\HTML\shift\shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("C:\Users\Xiben's Coole Laptop\Desktop\School\HTML\shift\shift-bold.woff") format("woff");
}